[submodule "backend/python"]
	path = backend/python
	url = git@github.com:Niltonguerra/SuperApp_python.git
[submodule "backend/javaScript"]
	path = backend/javaScript
	url = git@github.com:Niltonguerra/SuperApp_javascript.git
