[submodule "backend/python"]
	path = backend/python
	url = git@github.com:Niltonguerra/SuperApp_python.git
[submodule "backend/javaScript"]
	path = backend/javaScript
	url = git@github.com:Niltonguerra/SuperApp_javascript.git
[submodule "backend/golang"]
	path = backend/golang
	url = git@github.com:Niltonguerra/SuperApp_golang.git
[submodule "backend/rust"]
	path = backend/rust
	url = git@github.com:Niltonguerra/SuperApp_rust.git
[submodule "backend/java"]
	path = backend/java
	url = git@github.com:Niltonguerra/SuperApp_java.git
[submodule "frontend/desktop"]
	path = frontend/desktop
	url = git@github.com:Niltonguerra/SuperApp_desktop.git
[submodule "frontend/web"]
	path = frontend/web
	url = git@github.com:Niltonguerra/SuperApp_web.git
[submodule "frontend/mobile"]
	path = frontend/mobile
	url = git@github.com:Niltonguerra/SuperApp_mobile.git
